# dependencies
/node_modules

# local settings
cypress.env.json

# downloads
cypress/downloads

# reports
cypress/reports

# local test documentation
/cypress/screenshots
/cypress/videos
/cypress/logs